<?xml version="1.0"?>

<model>
  <name>MovoGraspingEnvironment</name>
  <version>1.0</version>
  <sdf version='1.6'>MovoGraspingEnvironment.sdf</sdf>

  <author>
    <name>Marcus Hoerger</name>
    <email>hoergems@gmail.com</email>
  </author>

  <description>
    4DOFFactory1
  </description>
</model>
